.calendarPosition {
    color: rgb(0, 0, 0);
    justify-content: flex-start;
    padding-left: 90px;
    
}


.calendarBackgroundColor {
    
    background-color: rgba(243, 243, 239, .95);

}

.calendarPosition > div {
    background-color:  #1F5768;
    border-radius: 2rem;
    /* border: 2px solid rgba(221, 142, 38, 0.95); */
    
}