.calendarPosition {
    justify-content: flex-start;
    padding-left: 90px;
}


.calendarBackgroundColor {
    background-color: rgba(228, 227, 220, 0.55);

}

.calendarPosition > div {
    background-color: rgba(192, 192, 209, 0.55);
    border-radius: 2rem;
    
}