
.dropbtn {
    background-color: #c2c2c2;
    color: #3a2101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 18px 750px;
    font-size: 20px;
    border: none;
   
    border: 2px solid rgba(221, 142, 38, 0.95);
    cursor: pointer;
    align-items: center;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
  
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #858080;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.2);
    z-index: 1;
    align-items: center;
    border: 1px solid rgb(232, 238, 240);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 750px;
    text-decoration: none;
    display: block;
    align-items: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #43A047;

  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(241, 241, 241);
  }
  