body {
  height:100vh;
  width: 100%;
  margin: 0px;
}

.bodyLogin {
  background-color: #f4f5f7;
  overflow: hidden;
  /* height: calc(100vh - 3vh); */
}

.loginModule {
  background-color: white;
  display: flex;
  margin: auto;
  height: 100%;
  padding-top: 10rem;
  justify-content: space-around;
  
  background-position: center;
  background-repeat: no-repeat, repeat;
}

.infoBox {
  /* background-color: rgba(197, 192, 192, 0.75);
  border: 4px solid rgba(221, 142, 38, 0.55); */

  border-radius: 2rem;
  align-self: center;
  position: relative;
  height: 50%;
  width: 40%;
}

.text {
  color: #3a2101;
  padding-left: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.text2 {
  color: #3a2101;
  padding-left: 3rem;
  font-family: "Poppins", sans-serif;
}

.text3 {
  color: #3a2101;
  padding-left: 3rem;
  font-weight: 300;
  font-style: italic;
  font-style: "Poppins", sans-serif;
}

.loginBox {
  /* background: linear-gradient(to right, #030303, #e0e7e3); */
  background-color: #c2c2c2;
  align-self: center;
  justify-content: center;
  height: 60vh;
  width: 20vw;
  border: 2px solid rgba(221, 142, 38, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.inputLogin {
  border: 2px solid rgba(221, 142, 38, 0.95);
  border-radius: 4rem;
  height: 2rem;
  width: 12rem;
  padding-left: 15px;
}


.logo{
  background-color: #43A047;
  background-image: url("D:\heycoach project\seatbooking\public\Free_Sample_By_Wix.jpg");
  height: 115px;
  width: 167px
}
.errorNotification{
  padding-left: 3rem;
  color: rgb(134, 0, 0);
}


.inputSignin {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 2rem;
  margin: auto;
  width: 9rem;
  border-radius: 2rem;
  background-color: #43A047;
}

.inputSignin:not(:disabled):hover {
  cursor: pointer;

  background-color: rgba(221, 142, 38, 0.95);
}

.inputBox {
  display: grid;
  gap: 1rem;
}
