.bookingContainer {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #1f5768;
  padding-bottom: 10px;
}
.cubicle {
  height: 73px;
  display: flex;
}

.seat {
  background-color: rgba(122, 108, 108, 0.95);
  height: 7vh;
  width: 4vw;
  border-radius: 1rem;
}

.currSelectedSeat {
  background-color: rgb(182, 182, 36);
  height: 7vh;
  width: 4vw;
  border-radius: 1rem;

}


.previousBookedSeat{
  background-color: rebeccapurple;
  height: 7vh;
  width: 4vw;
  border-radius: 1rem;

}

.BookingScreen {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: #43a047;

  border-radius: 2rem;
}

.containerTwo {
  width: 300px;
  height: 464px;
  border-radius: 3rem;
  display: grid;
  background-color: #1f5768;
  align-content: space-around;
  justify-items: center;
}

.instructionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 180px;
  width: 263px;
  border: 1px solid rgba(119, 116, 116, 0.95);
  border-radius: 2rem;
  background-color: rgb(22, 21, 21, 0.4);
}

.dateSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  height: 88px;
  width: 263px;
  color: rgb(150, 136, 35);
  background-color: rgb(22, 21, 21, 0.4);
  border: 1px solid rgba(119, 116, 116, 0.95);
  border-radius: 2rem;
}

.bookButton {
  height: 50px;
  width: 200px;
  background-color: rgba(221, 142, 38, 0.95);
  border-radius: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
}

.booked {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  border: 1px solid rgba(172, 164, 164, 0.95);
  border-radius: 5rem;
  width: 90px;
}


.bookedConfirm {
  height: 50px;
  width: 200px;
  background-color: #43a047;
  border-radius: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
}


.available {
  display: flex;
  justify-content: center;
  background-color: rgb(96, 100, 96);

  border: 1px solid rgba(172, 164, 164, 0.95);
  border-radius: 5rem;
  width: 90px;
}

.selected {
  display: flex;
  justify-content: center;
  background-color: rgb(182, 182, 36);
  border: 1px solid rgba(172, 164, 164, 0.95);
  border-radius: 5rem;
  width: 90px;
}
