/* body {
  background-color: #1F5768;

} */


.bookingContainer{
  gap:5rem;
  display: flex;
  justify-content: space-around;
  justify-items: flex-start;
  justify-content:flex-start;
  align-items: center;
  background-color: #1F5768;
  padding-bottom: 10px;
  
}


.seat {
  background-color: rgb(122, 84, 12);
  height: 10vh;
  width: 5vw;
  
}

.BookingScreen {
  height: 40%;
  width: 30%;
  background-color: #43A047;
  margin-top: 1rem;
  display:grid;
  grid-template-columns: repeat(4, 6rem);
  gap: 1rem;
  align-self: center;
  justify-content:center;
  border-radius: 2rem;
}


.containerTwo{
  width: 300px;
  height: 464px;
  /* border: 2px solid rgba(221, 142, 38, 0.95); */
  border-radius: 3rem;
  display:grid;
  background-color: #1F5768;
  align-content: space-around;
  justify-items: center;
}

.instructionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  height: 180px;
  width: 263px;
  border: 1px solid rgba(5, 5, 5, 0.95);
  border-radius: 2rem;
  background-color: rgb(247, 247, 247);
}


.dateSelection{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  height:88px;
  width:263px;
  background-color: rgb(253, 253, 253);
  border: 1px solid rgba(0, 0, 0, 0.95);
  border-radius: 2rem;
}


.bookButton{
  height: 50px;
  width: 200px;
  background-color: rgba(221, 142, 38, 0.95);
  border-radius: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 21px;
}


.booked{
  display: flex;
  justify-content: center;
  background-color: red;
  border: solid 2px;
  border-radius: 5rem;
  width:65px;
}