/* body {
  background-color: #c2c2c2;
  flex-direction:row;
} */


.bookingContainer{
  gap:5rem;
  display: flex;
  justify-content: space-around;
  justify-items: flex-start;
  justify-content:flex-start;
  align-items: center;
  background-color: #1f5768;
  padding-bottom: 10px;
  
}

.dateSelection{
  height:120px;
  width:18%;
  background-color: aliceblue;
}

.seat {
  background-color: rgb(122, 84, 12);
  height: 10vh;
  width: 5vw;
  
}

.BookingScreen {
  height: 40%;
  width: 30%;
  background-color: #43A047;
  margin-top: 1rem;
  display:grid;
  grid-template-columns: repeat(4, 6rem);
  gap: 1rem;
  align-self: center;
  justify-content:center;
  border: 2px solid rgba(221, 142, 38, 0.95);
  border-radius: 2rem;
}
