body {
  background-color: rgb(8, 8, 3);
}

.seat {
  background-color: rgb(122, 84, 12);
  height: 10vh;
  width: 5vw;
  
}

.BookingScreen {
    margin-top: 6rem;
    /* padding-top: 10rem; */
  display:grid;
  grid-template-columns: repeat(4, 6rem);
  gap: 2rem;
  align-self: center;
  justify-content: center;
}
